@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400;700&display=swap");

body {
  background: #101010;
  color: #f1f1f1;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  background: #7806cf;
  background: linear-gradient(to top right, #7806cf 0%, #c800cf 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: #f1f1f1;
  text-decoration: none;
  text-transform: uppercase;
  background: #282828;
  padding: 2rem 4rem;
  border-radius: 1rem;
  transition: all 0.1s ease-in-out;
}

a:hover {
  background: #404040;
}

img {
  width: 100%;
  max-width: 768px;
}
